<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Form</h1>
    <form action="/new" method="POST">
      <input type="text" placeholder="user" name="messageUser" required />
      <input type="text" placeholder="message" name="messageText" required />
      <input type="submit" value="Submit" />
    </form>

    <a href="/">Home</a>
    <a href="/new">Form</a>
  </body>
</html>
